@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'logo-font';
  src: url('./assets/fonts/797e433ab948586e-s.p.dbea232f.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-brand-primary: #059669;
  /* Emerald 600 */
  --color-brand-secondary: #34D399;
  /* Emerald 400 */
  --font-logo-font: "logo-font", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

@variant dark (&:where(.dark, .dark *));